.form {
  margin: 1.25rem 0rem;
}

.form-group {
  margin-bottom: 0.9375rem;
}
.form-group .help {
  font-size: 12px;
  color: #78838e;
  padding-left: 5px;
}
.form-group .help i {
  font-size: 9px;
}

.form-label {
  display: block;
  max-width: 100%;
  margin-bottom: 0.3125rem;
  font-weight: 500;
  color: #5f5F5F;
  text-transform: capitalize;
}

.form-control {
  height: 2.5rem;
  border: 1px solid #CCC;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  display: block;
  background-color: #FFF;
  background-image: none;
  padding: 0.375rem 0.75rem;
  width: 100%;
}

input[type=file] {
  border: none;
  padding-left: 0rem;
}

.form-control:focus {
  background-color: #FFF;
  border-color: #80bdff;
  color: #495057;
  outline: 0;
}

.form-heading {
  font-weight: 500;
  font-size: 1.75rem;
  text-transform: capitalize;
  color: #495057;
}

.radio {
  display: block;
  margin: 0.625rem 0rem;
  position: relative;
}

.radio label {
  cursor: pointer;
  min-height: 1.25rem;
  padding-left: 1.25rem;
  margin-bottom: 0rem;
}

.disabled label {
  cursor: not-allowed;
}

input.disabled {
  background-color: #EEE;
  cursor: not-allowed;
}

fieldset {
  border: 1px solid #CCC;
  border-radius: 0.25rem;
  padding: 1.25rem 1.875rem;
}

fieldset legend {
  font-weight: 500;
  color: #5f5F5F;
  text-transform: capitalize;
}

summary:focus {
  outline: none;
}

.radio input[type=radio],
input[type=checkbox] {
  position: absolute;
  margin-left: -1.25rem;
}

textarea.form-control,
select[multiple].form-control {
  height: auto;
}

.panel {
  padding: 30px;
  border: 1px solid #EEE;
  background-color: #FFFFFF;
  border-radius: 4px;
  width: 100%;
  height: auto;
}
.panel .panel-header .panel-heading {
  font-weight: 300;
  font-size: 1.75rem;
  text-transform: capitalize;
  color: #495057;
  margin-bottom: 15px;
  margin-top: 0px;
}

.btn {
  padding: 0.625rem 1.25rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  display: inline-block;
  font-weight: 500;
  text-align: center;
  vertical-align: center;
  text-transform: capitalize;
  cursor: pointer;
}

.btn-block {
  width: 100%;
  display: block;
}

.btn-default {
  border: 1px solid #CCC;
  background-color: #FFF;
}

.btn-default:hover {
  background-color: #CCC;
  border-color: #CCC;
}

.btn-success {
  border: 1px solid #4CAF50;
  background-color: #4CAF50;
  color: #FFFFFF;
}
.btn-success:hover {
  background-color: #409343;
}

.btn-danger {
  border: 1px solid #f4364c;
  background-color: #f4364c;
  color: #FFFFFF;
}
.btn-danger:hover {
  background-color: #f20f2a;
}

.btn-info {
  border: 1px solid #00aced;
  background-color: #00aced;
  color: #FFFFFF;
}
.btn-info:hover {
  background-color: #008ec4;
}

.btn-outline-success {
  border: 1px solid #4CAF50;
  color: #4CAF50;
}
.btn-outline-success:hover {
  background-color: #4CAF50;
  color: #FFFFFF;
}

.btn-outline-danger {
  border: 1px solid #f4364c;
  color: #f4364c;
}
.btn-outline-danger:hover {
  background-color: #f4364c;
  color: #FFFFFF;
}

body {
  font-family: "Lucida Sans", sans-serif;
  font-size: 1.0625rem;
  font-weight: 400;
  line-height: 1.6;
  background-color: #f9fbfd;
}

* {
  box-sizing: border-box;
}

.row {
  margin-right: -0.9375rem;
  margin-left: -0.9375rem;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*=col-] {
  float: left;
  padding: 0.9375rem;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

header {
  width: 100%;
  display: block;
  height: 90px;
  background-color: #FFF;
  border-bottom: 1px solid #EEE;
  margin-bottom: 50px;
  padding-top: 20px;
  width: 100%;
}
header .logo {
  font-size: 30px;
  vertical-align: middle;
}
header .logo span {
  font-family: fa5-proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #495057;
  padding-left: 10px;
}
header nav ul {
  margin: 0px;
}
header nav ul li {
  padding: 0px 10px;
  vertical-align: middle;
}
header nav ul li .user-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
header nav ul li .user-dropdown {
  position: relative;
  display: inline-block;
}
header nav ul li .user-dropdown .user-name {
  vertical-align: super;
}
header nav ul li .user-dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFF;
  min-width: 160px;
  border-radius: 4px;
  border: 1px solid #EEE;
  border-top: transparent;
  z-index: 1;
}
header nav ul li .user-dropdown .dropdown-content ul {
  padding: 0px;
}
header nav ul li .user-dropdown .dropdown-content ul li {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #EEE;
  text-align: center;
  font-size: 16px;
}
header nav ul li .user-dropdown .dropdown-content ul li:first-child {
  padding-top: 20px;
}
header nav ul li .user-dropdown .dropdown-content ul li:last-child {
  padding-bottom: 10px;
  border-bottom: transparent;
}
header nav ul li .user-dropdown:hover .dropdown-content {
  display: block;
}
header nav ul li a {
  color: #6c7681;
  text-transform: capitalize;
  font-weight: 500;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #00aced;
}

ul.list-inline li {
  list-style: none;
  display: inline;
}

.table {
  width: 100%;
  color: #212529;
  margin-bottom: 0.625rem;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.float-right {
  float: right;
}

.text-danger {
  color: #f4364c;
}

.text-primary {
  color: #4CAF50;
}

.text-danger {
  color: #f4364c;
}

.text-info {
  color: #00aced;
}

.footer {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font-size: 0.75rem;
  padding: 0.9375rem;
}

/* For mobile phones: */
[class*=col-] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-sm-1 {
    width: 8.33%;
  }

  .col-sm-2 {
    width: 16.66%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.33%;
  }

  .col-sm-5 {
    width: 41.66%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.33%;
  }

  .col-sm-8 {
    width: 66.66%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.33%;
  }

  .col-sm-11 {
    width: 91.66%;
  }

  .col-sm-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-md-1 {
    width: 8.33%;
  }

  .col-md-2 {
    width: 16.66%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .col-md-5 {
    width: 41.66%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33%;
  }

  .col-md-8 {
    width: 66.66%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33%;
  }

  .col-md-11 {
    width: 91.66%;
  }

  .col-md-12 {
    width: 100%;
  }
}
.container {
  width: 100%;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
btn-primary {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
  padding: 10px;
}
btn-primary:hover {
  background-color: #4CAF50;
  border-color: #4CAF50;
}

.border {
  border: 1px solid #CCC;
  padding: 10px;
  color: #333;
  font-size: 1rem;
}

/*# sourceMappingURL=style.css.map */
