@import 'variables';

.btn {
  padding: 0.625rem 1.25rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  display: inline-block;
  font-weight: 500;
  text-align: center;
  vertical-align: center;
  text-transform: capitalize;
  cursor: pointer; 
}
.btn-block {
  width: 100%;
  display: block;
}

.btn-default {
  border: 1px solid #CCC;
  background-color: #FFF;
}
.btn-default:hover {
  background-color: #CCC;
  border-color: #CCC;
}
@mixin btn($color) {
  border: 1px solid $color;
  background-color: $color;
  color: #FFFFFF;
  &:hover {
    background-color: darken($color, 8%)
  }
}
.btn-success {
  @include btn($success-color);
}
.btn-danger {
  @include btn($danger-color);
}
.btn-info {
  @include btn($info-color);
}
@mixin btn-outline($color){
  border: 1px solid $color;
  color: $color;
  &:hover {
    background-color: $color;
    color: #FFFFFF;
  }
}
.btn-outline-success {
  @include btn-outline($success-color);
}

.btn-outline-danger {
 @include btn-outline($danger-color); 
}