.form{
  margin: 1.25rem 0rem;
}
.form-group {
  margin-bottom: 0.9375rem;
  .help {
    font-size: 12px;
    color: lighten($font-color, 20%);
    padding-left: 5px;
    i {
      font-size: 9px;
    }
  }
}
.form-label {
  display: block;
  max-width: 100%;
  margin-bottom: 0.3125rem;
  font-weight: 500;
  color: #5f5F5F;
  text-transform: capitalize;
}
.form-control {
  height: 2.5rem;
  border: 1px solid #CCC;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  display: block;
  background-color: #FFF;
  background-image: none;
  padding: 0.375rem 0.75rem;
  width: 100%; 
}
input[type="file"]{
  border: none;
  padding-left: 0rem;
}

.form-control:focus{
  background-color: #FFF;
  border-color: #80bdff;
  color: #495057;  
  outline: 0;
}
.form-heading {
  font-weight: 500;
  font-size: 1.75rem;
  text-transform: capitalize;
  color: #495057;
}

.radio {
  display: block;
  margin: 0.625rem 0rem;
  position: relative;
}
.radio label{
  cursor: pointer;
  min-height: 1.25rem;
  padding-left: 1.25rem;
  margin-bottom: 0rem;
}
.disabled label{
  cursor: not-allowed;
}
input.disabled{
  background-color: #EEE;
    cursor: not-allowed;
}
fieldset {
  border: 1px solid #CCC;
  border-radius: 0.25rem;
  padding: 1.25rem 1.875rem;
}
fieldset legend {
  font-weight: 500;
  color: #5f5F5F;
  text-transform: capitalize;
}
summary:focus {
  outline: none;
}
.radio input[type="radio"],
input[type="checkbox"] {
  position: absolute;
  margin-left: -1.25rem;
}

textarea.form-control,
select[multiple].form-control {
  height: auto;
}