.panel {
  padding: 30px;
  border: 1px solid #EEE;
  background-color: #FFFFFF;
  border-radius: 4px;
  width: 100%;
  height: auto;
  .panel-header {
    .panel-heading {
      font-weight: 300;
      font-size: 1.75rem;
      text-transform: capitalize;
      color: #495057;
      margin-bottom: 15px;
      margin-top: 0px;
    }
  }
}