$success-color: #4CAF50;
$danger-color: rgb(244, 54, 76);
$info-color: #00aced;
$font-family: "Lucida Sans", sans-serif;
$font-size: 1.0625rem;
$font-weight: 400;
$line-height: 1.6;
$font-color: #495057;

