@import 'variables';
@import 'forms';
@import 'panels';
@import 'buttons';

body {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  background-color: #f9fbfd; 
}

* {
  box-sizing: border-box;
}
.row {
  margin-right: -0.9375rem;
  margin-left: -0.9375rem;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 0.9375rem;
}

html {
  font-family: $font-family;
}

header {
  width: 100%;
  display: block;
  height: 90px;
  background-color: #FFF;
  border-bottom: 1px solid #EEE;
  margin-bottom: 50px;
  padding-top: 20px;
  width: 100%;
  .logo {
    font-size: 30px;
    vertical-align: middle;
    span {
      font-family: fa5-proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
      color: #495057;
      padding-left: 10px;
    }
  }
  nav{
      ul
      {
        margin:0px;
        li {
        padding: 0px 10px;
        vertical-align: middle;
        .user-img {
          width: 45px;
          height: 45px;
          border-radius: 50%;
        }
        .user-dropdown {
          position: relative;
          display: inline-block;
          .user-name{
            vertical-align: super;
          }
          .dropdown-content {
            display: none;
            position: absolute;
            background-color: #FFF;
            min-width: 160px;
            border-radius: 4px;
            border: 1px solid #EEE;
            border-top: transparent;
            // box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            ul {
              padding: 0px;
              li {
                display: block;
                padding-top: 8px;
                padding-bottom: 8px;
                border-bottom: 1px solid #EEE;
                text-align: center;
                font-size: 16px;
                &:first-child {
                  padding-top: 20px;
                }
                &:last-child {
                  padding-bottom: 10px;
                  border-bottom: transparent;
                }
              }
            }
          }
          &:hover .dropdown-content {
            display: block;
          }
        }
        a{
          color: lighten(#495057, 15%);
          text-transform: capitalize;
          font-weight: 500;
        }
      }
    }
  }
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $info-color;
  }
}
ul.list-inline {
  li{
    list-style: none;
    display: inline;
  }
}

.table {
  width: 100%;
  color: #212529;
  margin-bottom: 0.625rem;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.float-right {
  float: right;
}
.text-danger {
  color: $danger-color;
}
.text-primary {
  color: $success-color;
}
.text-danger {
  color: $danger-color;
}
.text-info {
  color: $info-color;
}

.footer {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font-size: 0.75rem;
  padding: 0.9375rem;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-sm-1 {width: 8.33%;}
  .col-sm-2 {width: 16.66%;}
  .col-sm-3 {width: 25%;}
  .col-sm-4 {width: 33.33%;}
  .col-sm-5 {width: 41.66%;}
  .col-sm-6 {width: 50%;}
  .col-sm-7 {width: 58.33%;}
  .col-sm-8 {width: 66.66%;}
  .col-sm-9 {width: 75%;}
  .col-sm-10 {width: 83.33%;}
  .col-sm-11 {width: 91.66%;}
  .col-sm-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-md-1 {width: 8.33%;}
  .col-md-2 {width: 16.66%;}
  .col-md-3 {width: 25%;}
  .col-md-4 {width: 33.33%;}
  .col-md-5 {width: 41.66%;}
  .col-md-6 {width: 50%;}
  .col-md-7 {width: 58.33%;}
  .col-md-8 {width: 66.66%;}
  .col-md-9 {width: 75%;}
  .col-md-10 {width: 83.33%;}
  .col-md-11 {width: 91.66%;}
  .col-md-12 {width: 100%;}
}
.container {
  width: 100%;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
//Mixins

@mixin buttons($color, $dark) {
  background-color: $color;
  color: white;
  border: 1px solid $color;
  padding: 10px;
  //psuedo selector
  &:hover {
    background-color: $dark;
    border-color: $dark;
  }
}
btn-primary {
  @include buttons($success-color, $success-color);
}

//extend

%extend-border {
  border: 1px solid #CCC;
  padding: 10px;
  color: #333;
  font-size: 1rem;
}

.border {
  @extend %extend-border;
}